pandas
langchain
langchain_community
tqdm
langchain_groq
faiss-cpu
openpyxl
transformers>=4.31.0
sentence-transformers>=2.2.2
torch>=1.12.1
bs4==0.0.2
streamlit
langchain_core
scikit-learn
python-dotenv
ipykernel
streamlit-extras
streamlit-lottie
pytz
PyPDF2
PyCryptodome
tiktoken
